<h1>Edit User</h1>

<%= form_for @user, :url => user_url(@user.username) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.submit %>
<% end %>