<div class="col-sm-3">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="<%= game.image %>" alt="<%= game.title %> Artwork">
    <div class="card-body">
      <h5 class="card-title"><%= game.title %></h5>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Players: <%= game.min_players %> - <%= game.max_players %></li>
        <li class="list-group-item">Play Time: <%= game.min_play_time %> - <%= game.max_play_time %> min</li>
      </ul>
      <p class="card-text"><%= truncate(game.description, length: 150) %></p>
      <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#gameDetailsModal" id="<%= game.id %>">Details</a>
      <%= link_to "<div class=\"material-icons delete-icon\">Delete</div>".html_safe, 
        games_path(id: game.id), 
        method: :delete, 
        data: { confirm: 'Are you sure you want to delete this?' },
        class: "btn btn-danger" %>
    </div>
  </div>
</div>