<!DOCTYPE html>
<html>
  <head>
    <title>Game Shelf</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <% if Rails.env.development? %>
      <%= javascript_include_tag "http://localhost:8097" %>
    <% end %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <script data-ad-client="ca-pub-7963882924406766" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <%= Sentry.get_trace_propagation_meta.html_safe %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container-fluid">
      <% flash.each do | message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
